*{
    box-sizing: border-box;
}

body {
    font-family: Tahoma, Verdana, sans-serif;
}

header {
    text-align: center;
}

main {
    background-color: #fff;
    padding-left: 10%;
    padding-right: 10%;
    background-image: url(/images/backgroundpaw.jpeg);
    background-repeat: repeat-y;
}

footer {
    background-color: #333;
    font-size: .8em; 
    color: #fff;
    text-align: center;
    font-style: italic;
    padding-bottom: 10px;
    border-top: 2px solid #221811 ;
    clear: both;
}

/*Navigation Bar*/
.sticky { /*to make sure the navigation bar sticks on top*/
	position: -webkit-sticky; /*For Mac users that use safari as web browser*/
	position: sticky; 
	top: 0;
    margin: 0;
    padding: 0;
}

nav ul {
    display: flex;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    text-align: center;
}

nav li, nav li.dropdown {
    flex: 1;
    line-height: 30px;

}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
nav li a:hover:not(.active), nav li.dropdown:hover:not(.active) {
    background-color: #f77f00;
}

nav a.active {
    background-color: #f77f00;
}

nav a:visited{
    color: #e7cca7;
}


/*dropdown content*/
.dropdownContent {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px;
    z-index: 1;
}

.dropdownContent a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
  
.dropdownContent a:hover {background-color: #333;}
  
.dropdown:hover .dropdownContent {
    display: block;
}

/*Page Content Alignment*/
img {
    text-align: justify;
    float:none ;
    padding-left: 25px;
    
}

p{
    margin-left: 25px;
    font-size: 1.2em;

}

h1 {
    text-align: center;
    font-size: 3em;
    text-shadow: 2px 2px 2px #7e7b7b; /* shadow effect*/
}

h3{
    margin-left: 25px;
    font-size: 1.2em;
    color: #755f50;
}

h4 {
    color: #CDDAFD;
}

hr {
    width: auto;
    height: 2px;
    border-width:0;
    color:gray;
    background-color:gray
}

/*to center the video*/
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

iframe{
    border-width: 0px;
}
